<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSauth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/resources/static/css/authorization_menu.css}">
    <link type="image/x-icon" th:href="@{/resources/static/img/ico/Logo.svg}" rel="icon">
</head>
<body>
<div class="wrapper">
    <div class="theme-toggle">
        <label for="theme-switch">
            <i class="fas fa-sun"></i>
        </label>
        <input type="checkbox" id="theme-switch">
        <label for="theme-switch">
            <i class="fas fa-moon"></i>
        </label>
    </div>
    <main class="page">
        <div class="registration-cssave">
            <form name="f" th:action="@{/perform-login}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <h3 class="text-center">Log in</h3>

                <div class="form-group">
                    <input class="form-control item" type="text" id="username" name="email" placeholder="Email"
                           required>
                </div>

                <div class="form-group">
                    <input class="form-control item" type="password" minlength="6" id="password" name="password"
                           placeholder="Password" required>
                </div>

                <div class="form-group">
                    <a href="#">Forgot password?</a>
                    <div class="not_register">Not registered yet? <a href="/registration">SIGN UP</a></div>
                    <button class="btn btn-primary btn-block create-account" type="submit">Log in</button>
                </div>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
            </form>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{/resources/static/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/static/js/Script.js}"></script>
</body>
</html>