<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../resources/css/user_page_style.css">
    <link type="image/x-icon" href="../../../resources/img/ico/Logo.svg" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSbank</title>
</head>
<body>
    

    <div class="page">

        <div class="wrapper">
            
            <!-- Header - start -->

            <div class="header">
                 

                <div class="nav">

                    <img src="../../../resources/img/ico/Logo.svg" alt="Logo">

                    <ul>
                        <li><a href="#" class="active">Main</a></li>
                        <li><a href="#">Loan</a></li>
                        <li><a href="#">DebitCards</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>  

                </div>

            </div>

            <!-- Main - start -->

            <div class="main">

                <div class="main__user block">

                    <h3 class="user__greeting">Greetings</h3>
                    <p class="user__name">Name Lastname</p>

                    <div class="user__block">

                    </div>
                  

                </div>
        
                <div class="main__balance block">

                    <h2 class="balance__header header">Available funds:</h2>
                  
                    <h3 class="balance__text name">Balance: <p class="balance__sum sum">1 000 000 000.00$</p></h3>

                </div>

                <div class="main__card block">

                    <h2 class="card__header header">Debit cards:</h2>
                  
                    <div class="card">
                        <div class="card__block">
                            <div class="card__name name">Vegetable marrow (0000):</div>
                        </div>
                       <div class="card__block">
                            <div class="card__sum sum">10 000$</div>
                        </div> 

                    </div>

                    <a href="#" class="debit__takenew takenew">Issue a card</a>
                    
                </div>

                <div class="main__loan block">

                    <h2 class="loan__header header">Loans:</h2>
                  
                    <div class="loan">
                        <div class="loan__name name">Every day:</div>
                        <div class="loan__sum sum">30 000.00</div>
                    </div>

                    <a href="#" class="loan__takenew takenew">Apply for a loan</a>
                    
                </div>

            </div>

            <!-- Main - finish -->

        </div>

    </div>






    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/Script.js"></script>

</body>
</html>