<html>
<head>
    <link rel="stylesheet" href="../../../../resources/css/authorization_menu.css">
    <link rel="stylesheet" href="../../../../resources/css/registration_menu.css">
    <link type="image/x-icon" href="../../../../resources/img/ico/Logo.svg" rel="icon">
    <title>DBreg</title>
</head>
<body>
<div class="wrapper">
    <main class="page">
        <div class="registration-cssave">
            <form th:method="POST" th:action="@{/create-loan}" th:object="${loanDTO}">
                <h3 class="text-center">Create loan</h3>
                <div class="form-group">
                    <select class="form-control item" size="1" id="product" th:field="*{product}">
<!--                        <option selected disabled>Select product:</option>-->
                        <option th:value="carowner" th:text="Carowner">Car owner</option>
                        <option th:value="payday" th:text="Payday">Payday</option>
                        <option th:value="newhouse" th:text="NewHouse">New House</option>
                    </select></p>
                </div>

                <div class="form-group">
                    <input class="form-control item" type="text" th:field="*{loanTerm}" id="loanterm" placeholder="Loan term" required>
                </div>

                <div class="form-group">
                    <span>
                        Loan amount:  <input type="text" id="loanamount" th:field="*{summ}">
                    </span>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block create-account" type="submit">CREATE</button>
                </div>
            </form>
        </div>
    </main>>
</div>

</body>
</html>
