<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../resources/css/debit_card_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSbank</title>
</head>
<body>
    <div class="page">
        <div class="wrapper">
            <!-- Header - start -->
            <div class="header">
                <div class="nav">
                    <img src="../../../resources/img/ico/Logo.svg" alt="Logo">

                    <ul>
                        <li><a href="/user-page">Main</a></li>
                        <li><a href="/loan">Loan</a></li>
                        <li><a href="#" class="active">DebitCards</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/exit">Exit</a></li>
                    </ul>
                </div>
            </div>
            <!-- Main - start -->
            <div class="main">
                <div class="main__card block">
                    <h2 class="card__header header">Debit cards:</h2>

                    <div class="card">
                        <div class="card__block">
                            <div class="card__sum sum" th:text="${debit}">10 000$</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main - finish -->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/Script.js"></script>
</body>
</html>