<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../resources/css/profile.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSbank</title>
</head>
<body>
    <div class="page">
        <div class="wrapper">
            <!-- Header - start -->
            <div class="header">
                <div class="nav">
                    <img src="../../../resources/img/ico/Logo.svg" alt="Logo">

                    <ul>
                        <li><a href="/user-page">Main</a></li>
                        <li><a href="/loan">Loan</a></li>
                        <li><a href="/debit-card">DebitCards</a></li>
                        <li><a href="#" class="active">Profile</a></li>
                        <li><a href="/exit">Exit</a></li>
                    </ul>
                </div>
            </div>
            <!-- Main - start -->
            <div class="main">
                <div class="main__user block">
                    <h3 class="user__greeting">In developing</h3>
                    <p class="user__name">In developing</p>
                    <div class="user__block">
                        <!-- In developing -->
                    </div>
                </div>
            </div>
            <!-- Main - finish -->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/Script.js"></script>
</body>
</html>