<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../resources/static/css/style.css">
    <link type="image/x-icon" href="../../resources/static/img/ico/Logo.svg" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSbank</title>
</head>

<body>

<div class="wrapper">
    <main class="page">

        <header class="header">

            <div class="header__row">

                <nav class="header__menu menu">
                    <div class="menu__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <div class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__link"><a href="">ABOUT US</a></li>
                            <li class="menu__link"><a href="">FAQ</a></li>
                            <li class="menu__link"><a href="/users">LOG IN</a></li>
                            <li class="menu__link"><a href="/users/registration">SIGN UP</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="header__logo">
                    <img src="../../resources/static/img/ico/Logo.svg" alt="">
                </div>

            </div>

        </header>

        <div class="main-screen">
            <div class="main-screen__bg ibg">
                <img src="../../resources/static/img/bg_main.png" alt="">
            </div>
        </div>
    </main>
</div>

</main>
</div>

<script type="text/javascript" src="../../resources/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../resources/static/js/Script.js"></script>

</body>
</html>